doctype html
html
	head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='shortcut icon' type='image/png' href='../static/EQF.png')
		title Epiquest | About
	body
		.container-fluid
			h1.title About Epiquest
			hr	
			.container
				a(href="/#")
					img.img-responsive(src="../static/EQF.png", alt="EQ Logo")
				p.lead Technologies used: Pug, Less, CoffeeScript, jQuery, Gulp, Webpack, Git
				.content
					p Epiquest is a text-based adventure game made with Javascript and lots of patience	