doctype html
-
  const styles = [//stylesheets
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',//bootstrap
    'https://fonts.googleapis.com/css?family=Teko',//jquery
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",//font awesome incons
    'eq.css'//style
  ]
  const scripts = [//scripts
    'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js',//jquery
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',//bootstrrap
    'maingame.js',//main game functions
    'functions.js',//global functions for the game
    'locations.js',//locations of the game
    // 'globalfunctions.js'//global functions that coffeescript cant handle
  ]
html#body(lang='en')
  head
    meta(user.name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='icon' type='image/png' href='../static/EQF.png')
    each style in styles
      link(rel='stylesheet' href=style)
    each script in scripts
      script(src=script)
    title EPIQUEST
  body
    h1#mainh EPIQUEST
    br
    #controls
      h2#display Display
      h3#stats
      form
        input#inputBox(type='text' placeholder='type here...')
        button#submit ABC
        //- button#commies(onclick='showme()') See stats
      br
    button(class='button btn btn-block btn-primary' id="startGameBtn") Start Game
    br
    button(class='btn btn-block btn-default' onclick='playtheme("mario")') Music
    button(class='btn btn-block btn-default' onclick='nightmode()') Enable night theme
    button(class='btn btn-block btn-default' onclick='daymode()') Enable day theme
    br
    br
    h1(id='maph') Map
    img(src='../static/map.png')
    br
    br
    div#links
      h1 Check out the repository!
      p We need more people like you !
      br
      a(class='fa fa-github' href='https://github.com/JohnCdf/TheEpiquestRep/' target='blank_')
